# Stellar account
STELLAR_PUBLIC_KEY=
STELLAR_SECRET_KEY=
# Stellar network
CURRENT_ROUND=40
STELLAR_RPC_URL="https://soroban-testnet.stellar.org"
STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
STELLAR_NETWORK="testnet"
STELLAR_HORIZON="https://horizon-testnet.stellar.org"

NEURAL_GOVERNANCE_ADDRESS=
SCF_TOKEN_ADDRESS=