name: Contracts Checks
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  voting-check:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./contracts
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.85.0
          targets: wasm32v1-none
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84
        with:
          workspaces: ./contracts
          cache-all-crates: false

      - name: Install soroban cli
        run: |
          cargo install --locked --version 23.1.3 soroban-cli --force

      - name: Build contracts
        run: |
          soroban contract build

      - name: Run tests
        run: |
          cargo test --all-features

      - name: Formatting check
        run: |
          cargo fmt --check

      - name: Lint with clippy
        run:
          cargo lint
