name: Contracts Checks
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  voting-check:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./contracts
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.85.0
          targets: wasm32v1-none
          components: clippy, rustfmt
          key: 2

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: ./contracts
          cache-all-crates: true

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libdbus-1-dev libudev-dev

      - name: Install soroban cli
        run: |
          cargo install --locked --version 23.0.1 soroban-cli --force

      - name: Build contracts
        run: |
          stellar contract build

      - name: Run tests
        run: |
          cargo test --all-features

      - name: Formatting check
        run: |
          cargo fmt --check

      - name: Lint with clippy
        run: cargo lint
